body{
    font-family: gisha;
    width: 100%;
}

header {
    height: 120px;
    background: #14BBB1;
    width: 100%;
    top: 0;
}

.logo{
    padding-right: 15px;
    display: inline-block;
}
/* nav barי*/

nav{
    display: inline-block;
}

ul{
    list-style-type: none;
    float: right;
	
}

li{
    float: right;
    padding: 14px 16px;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    margin: 0 1px;
    line-height: 24px;
    height: 24px;
    display: block;
}

a:hover, .dropdown-content a:hover{
    color: #ffff66;
}

logout{
	    float: left;
}

/* nav bar- drop down- הדוחות שלי*/

.dropbtn {
    font-size: 14px;
    border: none;
}

.dropdown {
        float: right;
    padding: 10px 14px;
        list-style-type: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #14BBB1;
    min-width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
   color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown:hover .dropdown-content {
    display: block;
}

/* עמוד ראשי מרכז*/
.home{
    display:inline-block;
	width:65%;
    font-size:25px;
    color:#14BBB1;
    text-align:center;
    margin: 0px auto;
    position: relative;
}

.home p{
    width:50%;
    margin: 0px auto;
}
.red{
    width:15%;
    float: right;
	margin-top:15%;
}

.yellow{
    width:15%;
    float: left;
 display:inline-block;

}

.Personal{
    padding-top:25px;
    width:70%;
    font-size:25px;
    color:#14BBB1;
    text-align:center;
    margin: 0 auto;
    position: relative;

}
.Personal_Information{
    width:40%;
    float: right;
    border: 3px solid #14BBB1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.Personal_Information a{
    color:#14BBB1;
    text-align:center;
}
.Shift_Schedule{
    width:40%;
    float:right;
     border: 3px solid #14BBB1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.Shift_Schedule a{
    color:black;
  font-size: 16px;
}

/* טבלה לעמוד משמרות שלי*/

table {
    width:60%;
    margin:0px auto;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: center;
}
#MyShift tr:nth-child(even) {
    background-color:  #ffff66;
}
#MyShift tr:nth-child(odd) {
   background-color: #fff;
}
#MyShift th {
    background-color: #14BBB1;
    color: white;
}
.error{
    color: red;
    text-align:center;
}


